.aspect-ratio-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
}
  
  .aspect-ratio-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-overlay img {
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 1250px) {
  .logo-overlay img {
    width: 80%;
    margin-left: 10%;
  }
}

.additional-br {
  display: none;
}

@media screen and (max-width: 346px) {
  .additional-br {
      display: block;
  }
}