.aspect-ratio-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
}
  
.aspect-ratio-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-overlay img {
  width: 100%;
  margin: auto;
}

.logo-overlay h4 {
  background-color: #92574d75;
  border-radius: 10px;
  color: #000;
  text-align: center;
  font-size: xx-large;
  margin-top: 1.6vw;
  margin-right: -40%;
  margin-left: -40%;
}

@media screen and (max-width: 850px) {
  .logo-overlay h4 {
    font-size: medium;
  }
}