.info-heading h1 {
    color: #92574d;
    text-align: center;
    padding-bottom: 1rem;
    font-size: x-large;
    text-shadow: 2px 2px 2px rgba(92, 76, 76, 0.97);
    padding-top: 15px;
}

.info-heading hr {
    color: #fff;
    background-color: #fff;
    width: 90%;
    margin: auto;
}

@media (max-width: 992px) {
    .info-heading hr {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .info-heading h1 {
        font-size: xx-large;
        padding-top: 25px;
    }
}

.info-main h1 {
    color: #92574d;
    text-align: center;
    padding: 1rem;
    font-size: xx-large;
}

.info-main hr {
    color: #fff;
    background-color: #fff;
    width: 50%;
    margin: auto;
}

.info-main h4 {
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-size: medium;
}

@media (min-width: 992px) {
    .info-main h1 {
        padding-top: 50px;
    }
}