.nav-edit {
    background-color: #000;
    padding: 20px;
    font-weight: bold;
}

.nav-edit a {
    color: #fff;
    text-decoration: none;
    font-size: x-large;
}

.nav-edit a:visited {
    color: #fff;
    text-decoration: none;
}

.nav-edit a:active {
    color: #92574d;
    text-decoration: none;
}

.nav-edit a:hover {
    color: #92574d;
    text-decoration: none;
}

.navbar-toggler-icon {
    filter: brightness(5000%);
}

.first {
    padding-right: 50px;
}

.middle {
    padding-right: 50px;
}

@media screen and (min-width: 992px) {
    .nav-edit ul {
        margin-left: -150px;
      }
}