.services-cards .card a {
    --bs-btn-color: #fff;
    --bs-btn-bg: #92574d;
    --bs-btn-border-color: #92574d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #814c43;
    --bs-btn-hover-border-color: #814c43;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #814c43;
    --bs-btn-active-border-color: #000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #92574d;
    --bs-btn-disabled-border-color: #92574d;
}

.services-cards h4 {
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
    font-size: xx-large;
    padding: 1rem;
}